.App {
    text-align: center;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* GENERAL SELECTOR SETTINGS */

img {
    max-width: 100%;
    max-height: 150px;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    height: 2rem;
    border: none;
    border-radius: 12px;
}

button:hover {
    background-color: cadetblue;
    transition: 0.33s;
    border: none;
}

input, select{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 12px;
}

select {
    border:1px solid #cccccc00;
    vertical-align:top;
}

link {
    text-decoration: none;
}

/* MAIN AREAS OF THE PAGE */

header {
    background-color: cadetblue;
    padding: 15px;
    border-bottom: 5px solid whitesmoke;
    color: white;
    min-height: 15vh;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    background-color: darkslategray;
    color: whitesmoke;
}

/* SUB-AREAS OF CONTENT */

.whole-product-list,
.shopping-cart,
.payment-options,
.product-details {
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    width: 60%;
    border: 3px dashed whitesmoke;
}

/* SUB-AREAS OF CONTENT: LEFT */

/* .whole-product-list {
    background-color: darkolivegreen;    
}

.payment-options {
    background-color: darkred;
}

.product-details {
    background-color: darkgoldenrod;
} */

/* SUB-AREAS OF CONTENT: RIGHT */

.shopping-cart {
    width: 30%;
    /* background-color: brown; */
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.plus-minus {
    display: inline-block;
    margin: 0 3px;
}

.plus-minus button {
    margin: 0 2px;
    width: 1.5rem;
}

/* WHOLE PRODUCT LIST: FILTERS */

.filter-settings {
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    /* background-color: darkseagreen; */
    height: 2.5rem; 
    width: 90%;
}

.filter-by-name input,
.filter-by-category select {
    flex: 1;
    margin-right: 10px;
    /* display: inline; */
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
}

.filter-by-category {
    width: 35%;
}

.filter-by-name {
    width: 55%;
}

/* WHOLE PRODUCT LIST: PRODUCTS */

.product-list {
    width: 95%;
    background-color: #00000088;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    padding: 10px;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 600px;
}

.product {
    width: calc(33.33% - 20px); /* Adjust the width based on the number of products you want in a row */
    margin: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    
}

.product img {
    max-width: 100%;
    height: auto;
    border: 1px solid whitesmoke;
}

.product h3 {
    font-size: 16px;
    margin: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: whitesmoke;
    text-decoration: none;
}

.product p {
    color: whitesmoke;
    text-decoration: none;
}

/* PAYMENT OPTIONS */
.payment-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    height: 30vh;
}

.payment-button {
    width: 180px;
    height: 3rem;
    font-weight: bold;
}

/* PRODUCT DETAILS */
.product-details button {
    margin: 10px 5px;
}
